<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
            
            <menuitem label='Construa'>
                <icon>fa:magic fa-fw</icon>
                <action>BuildView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Cadastros'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Produto'>
                <icon>fa:life-ring fa-fw</icon>
                <action>ProdutoView</action>
            </menuitem>
            <menuitem label='Setor'>
                <icon>fa:life-ring fa-fw</icon>
                <action>SetorView</action>
            </menuitem>
             <menuitem label='Funcionario'>
                <icon>fa:life-ring fa-fw</icon>
                <action>FuncionarioView</action>
            </menuitem>
        </menu>
    </menuitem>
   
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Orgão'>
                <icon>fa:cube fa-fw</icon>
                <action>OrgaoView</action>
            </menuitem>
               <menuitem label='Unidade Orçamentaria'>
                <icon>fa:cube fa-fw</icon>
                <action>UnidOrcamentariaView</action>
            </menuitem>
             <menuitem label='Estrutura Organizacional'>
                <icon>fa:cube fa-fw</icon>
                <action>Estrutura</action>
            </menuitem>
           
        </menu>
    </menuitem>
</menu>
