<menu>
    
    <menuitem label='Pessoas'>
        <icon>fa:users</icon>
        <menu>
            <menuitem label='Grupo'>
                <icon>fa:square o</icon>
                <action>GrupoList</action>
            </menuitem>
             <menuitem label='Estado'>
                <icon>fa:square o</icon>
                <action>EstadoList</action>
            </menuitem>
             <menuitem label='Cidade'>
                <icon>fa:square o</icon>
                <action>CidadeList</action>
            </menuitem>
        </menu>
    </menuitem>
   
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
           
              
           
        </menu>
    </menuitem>
</menu>
